
.navigation-container {
    background-color : rgb(29, 29, 29);
    height : 50px;
    display : flex;
    align-items : center;
    justify-content : space-evenly;
    margin : 0px;
    position : fixed;
    width : 100vw;
    padding : 0px;
    z-index : 3;
}
.nav-item {
list-style: none;
display : flex;
justify-content: center;
flex-direction: column;
z-index : 3;
height : 100%;
padding : 0px 10px 0px 10px;
}
.nav-item:hover {
    background-color : rgb(70, 67, 67);
}
.link {
    text-decoration : none;
    color : white;
    user-select : none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding : 15px 0px 15px 0px;
}
.link:hover {
    color : rgb(144, 186, 216);
    cursor: pointer;
}
.hamburger-container {
    display : none;
}
.hamburger-content-default {
    position : absolute;
    box-shadow : 0px 0px 2px white;
    top : -100%;
    left : 55%;
    z-index : 5;
    background-color : black;
}
.hamburger-content-active {
    position : absolute;
    box-shadow : 0px 0px 2px white;
    left : 55%;
    transform : translateX(-50%);
    z-index : 5;
    background-color : black;
    top : -100%;
}
@media screen and (max-width : 700px) {
    .hamburger-nav-item {
    list-style: none;
    display : flex;
    justify-content: center;
    align-items : center;
    flex-direction: column;
    z-index : 3;
    height : 100%;
    padding : 0px 10px 0px 10px;
    }
    .hamburger-content-active {
        position : fixed;
        box-shadow : 0px 0px 2px white;
        left : 55%;
        transform : translateX(-50%);
        z-index : 5;
        background-color : black;
        animation : Animate 0.5s;
        top : 0%;
        padding-left : 0px;
    }
    @keyframes Animate {
        from {top : -50%}
        to {top : 0%}
    }
    .hamburger-container {
        height : 30px;
        width : 30px;
        position : fixed;
        z-index : 5;
        left : 75%;
        transform : translateX(-50%);
        top : 12.5px;
        display : flex;
        align-items : center;
        justify-content: center;
        flex-direction : column;
        background-color : black;
        padding : 5px;
        border-radius : 2px;
        box-shadow : 0px 0px 2px white;
        .hamburger-item {
            border-top : none;
            border-left : none;
            border-right : none;
            border-bottom : 2px solid white;
            height : 2px;
            margin : 1.5px;
            width : 70%;
        }
    }
    .hamburger-container:hover {
        cursor: pointer;
        transform : scale(1.1);
        transition : 0.2s;
        transform : translateX(-50%);
    }
    .navigation-container {
        display : none;
    }
}

@media screen and (max-width : 400px) {
    .hamburger-container {
        left : 80%;
    }
}