.article-main-container {
    background-image : url(https://blog-backend426.herokuapp.com/images/articlebackground.png);
    background-size : 130vw;
    background-position : center center;
    background-attachment: fixed;
    background-color : black;
    background-repeat: no-repeat;
    width : 100vw;
    height : 100vh;
    overflow-y : hidden;
    overflow-x : hidden;
}
.back-btn {
    width : 30px;
    height : 30px;
    position : fixed;
    left : 10%;
    top : 5%;
    z-index : 2;
}
.back-btn:hover {
    cursor: pointer;
    transform : scale(1.1);
    transition : 0.3s;
}
.article-content-container {
    position : absolute;
    left : 50%;
    width : 100vw;
    height : 100vh;
    transform : translateX(-50%);
    height : 100vh;
    overflow-y : scroll;
    color : white;
    .article-title {
        font-weight : bold;
        font-size : 30px;
        text-align: center;
        margin : 20px;
    }
    .article-timestamp {
        text-align : center;
        font-weight : bold;
        opacity : 0.7;
    }
    .article-content {
        margin-left : 10vw;
        margin-right : 10vw;
        font-weight : bold;
        line-height : 30px;
        margin-top : 30px;
    }
}